* {box-sizing:border-box}


.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: #222121;
  min-height: 380px;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: .4;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
}


.text {
  color: yellowgreen;
  font-size: 1.4rem;
  padding: 8px 12px;
  position: absolute;
  top: 5px;
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-style: italic;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  
  
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#text {
    color: rgb(182, 179, 173);
    text-align: justify;
}

table, td, th {
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-collapse: collapse;
}

.szoveg {
    display: flex;
}

.szoveg p {
    margin-top: 55px;
    font-size: 1.3rem;
}

table {
    width: 80%;
    text-align: center;
    height: 300px;
    margin-top: 55px;
    font-size: 1.3rem;
}

.tabla {
    display: flex;
    justify-content: center;
}

.tabla2 {
    display: flex;
    justify-content: center;
}

#bal {
    text-align: start;
}

#jobb {
    text-align: end;
}

footer {
  margin-top: 25px;
}


@media screen and (max-width: 1100px) {
  #text {
    font-size: larger;
  }

  table {
    font-size: larger;
  }
  
}